// Colors
$black     : #000;
$bg-dark   : #202020;
$primary   : #252525;
$text-color: #707070;
$text-color-light: lighten(#707070, 15%);
$white     : #fff;
$secondary : #e5493a;
$success   : #8dc63f;
